includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src
    level: 8
    ignoreErrors:
        # Will be resolved once guards are implemented
    excludePaths:
